<div fxLayout="row" fxLayoutAlign="center center" class="contentnegotiation">
  <md-card fxFlex="90%" style="padding: 0;">
    <md-toolbar color="primary" class="toolbar">Ingreso de información</md-toolbar>
    <md-card-content>
      <md-tab-group [(selectedIndex)]="selectedIndexTabOne" #tabGroup>
        <md-tab label="Info. Cliente">
          <form #form="ngForm" id="customer" name="customer">
            <div fxLayout="column" style="padding: 16px;">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxFlex>
                  <md-input-container>
                    <input mdInput placeholder="Id Cliente/grupo" id="idCustomer" name="idCustomer" [(ngModel)]="customer.idCustomer" [mdAutocomplete]="reactiveAuto"
                      [formControl]="customerCtrl">
                  </md-input-container>
                  <md-autocomplete #reactiveAuto="mdAutocomplete" [displayWith]="displayFn">
                    <md-option *ngFor="let state of reactiveCustomers | async" [value]="state">
                      <span>{{ state.name }}</span>
                      <span class="demo-secondary-text"> ({{state.code}}) </span>
                    </md-option>
                  </md-autocomplete>

                </div>
                <md-input-container fxFlex>
                  <input mdInput name="name" id="name" [(ngModel)]="customer.name" disabled placeholder="Nombre">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="description" id="description" [(ngModel)]="customer.identification" required placeholder="Descripción">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="commercialAssignment" id="commercialAssignment" [(ngModel)]="customer.commercialAssignment" disabled
                    placeholder="Asignación Comercial">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="region" id="region" [(ngModel)]="customer.region" disabled placeholder="Región">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="subArea" id="subArea" [(ngModel)]="customer.subArea" disabled placeholder="Subzona">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="currentLines" id="currentLines" [(ngModel)]="customer.currentLines" disabled placeholder="Líneas Actuales">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="valueArpu" id="valueArpu" [(ngModel)]="customer.valueArpu" disabled placeholder="Valor Arpu">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="averageArpuLine" id="averageArpuLine" [(ngModel)]="customer.averageArpuLine" disabled placeholder="Promedio Arpu por Línea">
                </md-input-container>
                <div fxFlex>
                </div>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center">
                <!--[disabled]="!form.valid" -->
                <button id="savePersonalInformation" color="primary" md-raised-button style="margin-left: 8px;" (click)="nextStep()" type="button">Siguiente</button>
              </div>
            </div>
          </form>
        </md-tab>
        <!-- [disabled]="!form.valid" -->
        <md-tab label="Fechas">
          <form #form2="ngForm" id="dates" name="dates">
            <div fxLayout="column" style="padding: 16px;" class="dates">
              <div fxLayout="column" fxLayout.gt-sm="row">

                <md-input-container fxFlex>
                  <input mdInput [mdDatepicker]="startDate" placeholder="Fecha Inicio" id="startDate" name="startDate" [(ngModel)]="dates.startDate">
                  <button mdSuffix [mdDatepickerToggle]="startDate"></button>
                </md-input-container>
                <md-datepicker #startDate></md-datepicker>

                <md-input-container fxFlex>
                  <input mdInput [mdDatepicker]="endDate" placeholder="Fecha Fin" id="endDate" name="endDate" [(ngModel)]="dates.endDate">
                  <button mdSuffix [mdDatepickerToggle]="endDate"></button>
                </md-input-container>
                <md-datepicker #endDate></md-datepicker>

              </div>
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="months" id="months" [(ngModel)]="dates.months" disabled placeholder="Meses">
                </md-input-container>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button type="button" (click)="previousStep()" id="previousPagePersonalData">Anterior</button>
                <!-- -->
                <button [disabled]="!form2.valid" color="primary" md-raised-button style="margin-left: 8px;" (click)="nextStep()" type="button"
                  id="savePersonalFamilyHistory">Siguiente</button>
              </div>
            </div>
          </form>
        </md-tab>
        <!--  [disabled]="!form.valid" -->
        <md-tab label="Ciclo de Ventas">
          <form #form3="ngForm" id="AtPesentYou" name="AtPesentYou" class="AtPesentYou">
            <div fxLayout="column" style="padding: 16px;" class="healthHistory">
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="status" id="status" [(ngModel)]="salesCycle.status" disabled placeholder="Estado">
                </md-input-container>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button type="button" (click)="previousStep()" id="previousPagePersonalData">Anterior</button>
                <!-- -->
                <button [disabled]="!form2.valid" color="primary" md-raised-button style="margin-left: 8px;" (click)="nextStep()" type="button"
                  id="savePersonalFamilyHistory">Siguiente</button>
              </div>
            </div>
          </form>
        </md-tab>
        <!-- [disabled]="!form.valid" -->
        <md-tab label="Negociación Anterior">
          <form #form4="ngForm" id="AtPesentYou" name="AtPesentYou" class="AtPesentYou">
            <div fxLayout="column" style="padding: 16px;" class="healthHistory">

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnMarginEbitda" id="pnMarginEbitda" [(ngModel)]="previousNegotiation.pnMarginEbitda" disabled placeholder="Margen Ebitda">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnOthers" id="pnOthers" [(ngModel)]="previousNegotiation.pnOthers" disabled placeholder="Otros">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnFinancialROI" id="pnFinancialROI" [(ngModel)]="previousNegotiation.pnFinancialROI" disabled placeholder="ROI Financiero">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnQuantityCfmPlans" id="pnQuantityCfmPlans" [(ngModel)]="previousNegotiation.pnQuantityCfmPlans" disabled placeholder="Cantidad De CFM Planes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnQuantityCfmPackages" id="pnQuantityCfmPackages" [(ngModel)]="previousNegotiation.pnQuantityCfmPackages" disabled placeholder="Cantidad De CFM Paquetes">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnPermanence" id="pnPermanence" [(ngModel)]="previousNegotiation.pnPermanence" disabled placeholder="Permanencia Pactada">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnAverageStayPending" id="pnAverageStayPending" [(ngModel)]="previousNegotiation.pnAverageStayPending" disabled placeholder="Promedio Permanencia Pendiente">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnValueDiscountEquipamentBag" id="pnValueDiscountEquipamentBag" [(ngModel)]="previousNegotiation.pnValueDiscountEquipamentBag" disabled placeholder="Valor Descuento en Equipos y Bolsas">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnTotalDiscountValue" id="pnTotalDiscountValue" [(ngModel)]="previousNegotiation.pnTotalDiscountValue" disabled placeholder="Valor Total Descuentos">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnValueDiscountPackages" id="pnValueDiscountPackages" [(ngModel)]="previousNegotiation.pnValueDiscountPackages" disabled placeholder="Valor Descuento CFM Paquetes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnNewLines" id="pnNewLines" [(ngModel)]="previousNegotiation.pnNewLines" disabled placeholder="Líneas Nuevas">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnOthersDiscount" id="pnOthersDiscount" [(ngModel)]="previousNegotiation.pnOthersDiscount" disabled placeholder="Otros Descuentos">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="pnValueDiscountCfmPlans" id="pnValueDiscountCfmPlans" [(ngModel)]="previousNegotiation.pnValueDiscountCfmPlans" disabled placeholder="Valor Descuento CFM Planes">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="pnTotalIncomePermanence" id="pnTotalIncomePermanence" [(ngModel)]="previousNegotiation.pnTotalIncomePermanence" disabled placeholder="Total Ingreso Proyectado Permanencia">
                </md-input-container>
              </div>
              
              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button type="button" (click)="previousStep()" id="previousPagePersonalData">Anterior</button>
                <!-- -->
                <button [disabled]="!form2.valid" color="primary" md-raised-button style="margin-left: 8px;" (click)="nextStep()" type="button"
                  id="savePersonalFamilyHistory">Siguiente</button>
              </div>
            </div>
          </form>
        </md-tab>
        <!-- [disabled]="!form.valid" -->
        <md-tab label="Indicadores">
          <form #form5="ngForm" id="AtPesentYou" name="AtPesentYou" class="AtPesentYou">
            <div fxLayout="column" style="padding: 16px;" class="healthHistory">

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niMarginEbitda" id="niMarginEbitda" [(ngModel)]="negotiationIndicators.niMarginEbitda" disabled placeholder="Margen Ebitda">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niOthers" id="niOthers" [(ngModel)]="negotiationIndicators.niOthers" disabled placeholder="Otros">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niFinancialROI" id="niFinancialROI" [(ngModel)]="negotiationIndicators.niFinancialROI" disabled placeholder="ROI Financiero">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niQuantityCfmPlans" id="niQuantityCfmPlans" [(ngModel)]="negotiationIndicators.niQuantityCfmPlans" disabled placeholder="Cantidad de CFM Planes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niQuantityCfmPackages" id="niQuantityCfmPackages" [(ngModel)]="negotiationIndicators.niQuantityCfmPackages" disabled placeholder="Cantidad de CFM Paquetes">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niPermanence" id="niPermanence" [(ngModel)]="negotiationIndicators.niPermanence" disabled placeholder="Permanencia Pactada">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niAverageStayPending" id="niAverageStayPending" [(ngModel)]="negotiationIndicators.niAverageStayPending" disabled placeholder="Promedio Permanencia Pendiente">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niValueDiscountEquipamentBag" id="niValueDiscountEquipamentBag" [(ngModel)]="negotiationIndicators.niValueDiscountEquipamentBag" disabled placeholder="Valor Descuento en Equipos y Bolsas">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niAverageStayPending" id="niAverageStayPending" [(ngModel)]="negotiationIndicators.niAverageStayPending" disabled placeholder="Promedio Permanencia Pendiente">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niValueDiscountEquipamentBag" id="niValueDiscountEquipamentBag" [(ngModel)]="negotiationIndicators.niValueDiscountEquipamentBag" disabled placeholder="Valor Descuento en Equipos y Bolsas">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niTotalDiscountValue" id="niTotalDiscountValue" [(ngModel)]="negotiationIndicators.niTotalDiscountValue" disabled placeholder="Valor Total Descuentos">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niValueDiscountCfmPackages" id="niValueDiscountCfmPackages" [(ngModel)]="negotiationIndicators.niValueDiscountCfmPackages" disabled placeholder="Valor Descuento CFM Paquetes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="niValueDiscountCfmPlans" id="niValueDiscountCfmPlans" [(ngModel)]="negotiationIndicators.niValueDiscountCfmPlans" disabled placeholder="Valor Descuento CFM Planes">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="niOtherDiscounts" id="niOtherDiscounts" [(ngModel)]="negotiationIndicators.niOtherDiscounts" disabled placeholder="Otros Descuentos">
                </md-input-container>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center">
                <button md-button type="button" (click)="previousStep()" id="previousPagePersonalData">Anterior</button>
                <!-- -->
                <button [disabled]="!form2.valid" color="primary" md-raised-button style="margin-left: 8px;" (click)="nextStep()" type="button"
                  id="savePersonalFamilyHistory">Siguiente</button>
              </div>
            </div>
          </form>
        </md-tab>
        <!-- [disabled]="!form.valid" -->
        <md-tab label="Otros">
          <form #form4="ngForm" id="Lifestyle" name="Lifestyle">
            <div fxLayout="column" class="Lifestyle">

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="segment" id="segment" [(ngModel)]="other.segment" placeholder="Segmento">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="autorizationType" id="autorizationType" [(ngModel)]="other.autorizationType" placeholder="Tipo de Autorización">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="monthAntiquity" id="monthAntiquity" [(ngModel)]="other.monthAntiquity" placeholder="Antigüedad Meses">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="monthCurrentBilling" id="monthCurrentBilling" [(ngModel)]="other.monthCurrentBilling" placeholder="Facturación Actual Mes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="otherNewLines" id="otherNewLines" [(ngModel)]="other.otherNewLines" placeholder="Líneas Nuevas">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="monthNewLinesTotalBillingValue" id="monthNewLinesTotalBillingValue" [(ngModel)]="other.monthNewLinesTotalBillingValue" placeholder="Valor Facturación Total Líneas Nuevas Mes">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="monthNewLinesAvgBillingValue" id="monthNewLinesAvgBillingValue" [(ngModel)]="other.monthNewLinesAvgBillingValue" disabled placeholder="Valor Promedio Facturación Nueva Línea Mes"
                  value="{{other.monthNewLinesTotalBillingValue}} / {{other.otherNewLines}}">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="riskCustomer" id="riskCustomer" [(ngModel)]="other.riskCustomer" placeholder="Cliente en Riesgo">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="offerCompetence" id="offerCompetence" [(ngModel)]="other.offerCompetence" placeholder="Oferta de la Competencia">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="offerCompetenceDescr" id="offerCompetenceDescr" [(ngModel)]="other.offerCompetenceDescr" placeholder="Descripción Oferta Competencia">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="attachSupportOfferCompetence" id="attachSupportOfferCompetence" [(ngModel)]="other.attachSupportOfferCompetence" placeholder="¿Adjunta Soporte Oferta Competencia?">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="ingressDecreasePlanChange" id="ingressDecreasePlanChange" [(ngModel)]="other.ingressDecreasePlanChange" placeholder="Disminución de Ingreso x Cambios de Plan">
                </md-input-container>
              </div>

              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="discountNewLinesItemsBagValue" id="discountNewLinesItemsBagValue" [(ngModel)]="other.discountNewLinesItemsBagValue" placeholder="Valor Bolsa y/o Descuento de Equipos Línea Nueva">
                </md-input-container>
                <md-input-container fxFlex>
                  <input mdInput name="repositionItemsDiscountBagValue" id="repositionItemsDiscountBagValue" [(ngModel)]="other.repositionItemsDiscountBagValue" placeholder="Valor Bolsa ó Descuento de Equipos Reposiciones">
                </md-input-container>
              </div>
              
              <div fxLayout="column" fxLayout.gt-sm="row">
                <md-input-container fxFlex>
                  <input mdInput name="totalProjectIngressPermanency" id="totalProjectIngressPermanency" [(ngModel)]="other.totalProjectIngressPermanency" placeholder="Total Ingreso Proyectado Permanencia">
                </md-input-container>
              </div>

              <div fxLayout="row" fxLayoutAlign="end center" style="padding: 16px;">
                <button md-button type="button" (click)="previousStep()" id="previousPagePersonalData">Anterior</button>
                <!-- -->
                <button [disabled]="!form4.valid" color="primary" md-raised-button style="margin-left: 8px;" (click)="saveData()" type="button"
                  id="savePersonalFamilyHistory">Guardar</button>
              </div>
            </div>
          </form>
        </md-tab>

      </md-tab-group>
    </md-card-content>
  </md-card>
</div>