@import "../../../styles/_var";

$height__main-toolbar__plus_8px: $height__main-toolbar + 8px;

:host {
  display: block;
  padding: 20px;
  height: calc(100% - #{$height__main-toolbar__plus_8px});
  background: url('/assets/img/backgrounds/2.jpg') no-repeat center center fixed;
  background-size: cover;
}

md-input-container {
  margin: 8px 8px;
  width: 95%;
}

md-select {
   margin: 8px 8px;
   margin-top: 18px;
   font-size: 14px !important;
   
}

.contentuserdata {
  max-height: inherit !important;
   .mat-select-trigger
    {
      font-size: 14px !important;
    }

}

.healthHistory{
    .contentHealthHistory{
      justify-content: center;
      align-items: center;
    }   
 
    .cardsHealthHistory{
      padding: 16px;
    }
    .slide-toggle
    {
      margin: 8px;
    }
    .contenthealthHistory
    {
      padding: 16px;
    }
}

.AtPesentYou
{
   .contenAtPesentYou{
      justify-content: center;
      align-items: center;
    }

    .cardsAtPesentYou{
      padding: 10px !important;
    }
}

.Lifestyle{
   .cardsLifestyle{
      padding: 16px;
    }

    .cardscolum{
      min-width: 50%;
    }

    .selectleisure{
      min-width: 50%;
    }

    .selectsleepPractice{
      min-width: 100%;
    }

}