<expansion-panels-container>
  <expansion-panel>
    <expansion-panel-title>
      Información
    </expansion-panel-title>
    <expansion-panel-description-hidden>
      Ingrese aquí la información de la nueva negociación
    </expansion-panel-description-hidden>

    <expansion-panel-description-toggled>
      Ingrese aquí la información de la nueva negociación
    </expansion-panel-description-toggled>
    <expansion-panel-content>
      <ms-information></ms-information>
    </expansion-panel-content>
  </expansion-panel>

  <expansion-panel>
    <expansion-panel-title>
      Productos
    </expansion-panel-title>

    <expansion-panel-description-hidden>
      Ingrese aquí la información de los productos
    </expansion-panel-description-hidden>

    <expansion-panel-description-toggled>
      Ingrese aquí la información de los productos
    </expansion-panel-description-toggled>

    <expansion-panel-content>
      <app-claro-negotiation-products></app-claro-negotiation-products>
    </expansion-panel-content>
  </expansion-panel>

</expansion-panels-container>