<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="login mat-elevation-z12">
    <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/claro.png" style="width: 90px">
    </div>
    <form #form="ngForm" (ngSubmit)="login()">
      <div class="login-content" fxLayout="column" fxLayoutAlign="start stretch">
        <md-input-container>
          <input mdInput placeholder="Correo" type="text" id="Email" name="Email" required [(ngModel)]="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Contraseña" type="password" id="Password" name="Password" required [(ngModel)]="Password" minlength="6">
        </md-input-container>
        <div class="extra-options" fxLayout="row" fxLayoutAlign="space-between center">
          <md-checkbox class="remember-me" name="Remember" id="Remember" [(ngModel)]="Remember">Recordarme</md-checkbox>
          <a class="forgot-password" [routerLink]="['/forgot-password']">Recordar contraseña?</a>
        </div>
        <button color="primary" md-raised-button [disabled]="!form.valid" id="btnlogin">INGRESAR</button>
        <p class="note">No tienes una cuenta?<br/> <a [routerLink]="['/register']">
        Haga clic aquí para crear una</a></p>
      </div>
    </form>
  </div>
</div>